---
layout: default
title: Студенточка - написание текстов для сайтов.
zag_href: /
zag: Добро пожаловать
---
<p>
  Как наполнить сайт интересными и оригинальными статьями и новостями? Как привлечь 
  покупателей в интернет-магазин и увеличить посещаемость ресурса? Наши авторы готовы помочь 
  Вам создать качественный и привлекательный контент. Мы имеем большой опыт написания 
  уникальных текстов на любую тематику. Вам не придется тратить время на поиск копирайтеров 
  и переписку с поставщиками контента. Мы следим за тем, чтобы Ваш заказ был выполнен 
  качественно, в срок и с учетом Ваших пожеланий и поставленных задач.
  Что мы предлагаем:
</p>

<ul>
  <li>написание качественных уникальных статей на любые темы;</li>
  <li>ведение тематических блогов практически любой направленности;</li>
  <li>ведение интернет-сообществ на постоянной основе;</li>
  <li>создание новостей для ресурса;</li>
  <li>создание описания для товаров различного профиля;</li>
  <li>корректировка и редактирование контента сайта.</li>
</ul>

<h2 class='bas green-colored'>Наши цены</h2>

{% include price.html %}


<h2 class='bas green-colored'>Наши проекты</h2>

<ul>
  <li><a href='http://theferrum.ru'>theferrum.ru</a> – магазин мужской одежды;</li>
  <li><a href='http://studentochka.ru'>studentochka.ru</a> – наш основной сайт (780 000 страниц и 120 000 посетителей ежемесячно);</li>
  <li><a href='http://subscribe.ru/catalog/job.student.helpstudentka'>наша рассылка</a> – мы  ведем Серебрянную  рассылку с 2003 года;</li>
  <li><a href='http://vk.com/club20217212'>vk.com/club20217212</a> – наша группа в социальной сети;
  <li><a href='http://yagaya-baba.ru/'>yagaya-baba.ru</a> – настоящий живой сайт специалиста.
</ul>


<h2 class='bas green-colored'>
  Почему Вы можете доверить эту работу именно нам?
</h2>

<ul>
  <li>наши авторы соблюдают 100% грамотность в написании текстов;</li>
  <li>каждая статья уникальна и пишется для конкретного заказчика с учетом пожеланий и требований;</li>
  <li>мы гарантируем исполнение заказа в срок – Вы просто оставляете заявку на сайте или по телефону, а затем согласовываете стоимость и условия работы;</li>
  <li>Вы всегда можете связаться с нами при возникновении вопросов и дополнительных пожеланий к исполнению заказа.</li>
</ul>


<h2 class='bas green-colored'>
  Заказать работу
</h2>
{% include zakaz.html %}

