---
layout: default
zag: Наше портфолио
zag_href: /portfolio.html
title: Наше портфолио
---

<h2 class='bas red-colored'>TheFerrum.ru</h2>
<ul>
  <li><a href='http://theferrum.ru/about'>о магазине TheFerrum.ru</a>;</li>
  <li><a href='http://theferrum.ru/o-hoodiebuddie'>о бренде hoodiebuddie</a>.</li>
</ul>
  
<h2 class='bas red-colored'>Studentochka.ru</h2>
<ul>
  <li>
    <a href='http://studentochka.ru'>studentochka.ru</a> &#0151; наш основной сайт<br>
    (780 000 страниц и 120 000 посетителей ежемесячно);
  </li>
  <li> 
    <a href='http://subscribe.ru/catalog/job.student.helpstudentka'>наша рассылка</a>
    – мы  ведем Серебряную  рассылку с 2003 года;
  </li>
  <li><a href='http://vk.com/club20217212'>vk.com/club20217212</a> – наша группа в социальной сети.
</ul>
  
<h2 class='bas red-colored'>Yagaya-baba.ru</h2>
<ul>
  <li>
    <a href='http://yagaya-baba.ru'>yagaya-baba.ru</a>  – настоящий живой сайт специалиста.
  </li>
</ul>

<h2 class='bas red-colored'>Разное</h2>
<ul>
  <li>
    <a href='/portfolio/mojaisk.html'>Выгодно покупать недвижимость в Можайском районе.</a>
  </li>
  <li>
    <a href='/portfolio/keeshonds.html'>О кеесхондах</a> {% include pdf-ico.html href="/portfolio/keeshonds.pdf" %}
  </li>
  <li>
    <a href='/portfolio/keeshond-schenki.html'>О подборе щенка</a> {% include pdf-ico.html href="/portfolio/keeshonds.pdf" %}
  </li>
</ul>
<br>
<div class='hr'></div>
<br>
