<h1 class="red-colored bas"><center>Свяжитесь со мной, если у вас есть вопросы:</center></h1>
<table style="position: relative; left: 85px;" cellpadding="7" cellspacing="2">
  <tbody><tr>
    <td rowspan="4" colspan="2"><img class="rounded" src="http://s.studentochka.ru/img/foto/fotoiso.jpg"></td>
  </tr>
  <tr>
    <td><p class="big">Крестьянова Марина Михайловна</p>
 Сайт: <a href="http://yagaya-baba.ru">http://yagaya-baba.ru</a><br>
      <span style="position: relative; top: -3px">
        <img src="http://s.studentochka.ru/img/email.png" style="position: relative; top: 4px;" width="16" height="16">
        <a href="mailto:marina@seo-job.ru">marina@seo-job.ru</a>
      </span>
      <br>
      <span style="position: relative; top: -3px">
        <img src="http://s.studentochka.ru/img/phone.png" style="position: relative; top: 4px;" width="16" height="16">
        +8 911 822-56-12 (с 9 до 21 ч.)<br>
<span style="position: relative; top: -3px">
    <img src="http://s.studentochka.ru/img/skypeicon.png" style="position: relative; top: 4px;" width="16" height="16">
      yagaya_baba
      </span><br>  <span style="position: relative; top: -3px">
      <img src="http://s.studentochka.ru/img/icq.png" style="position: relative; top: 4px;" width="16" height="16">
      35774308
    </span> 
    </span></td>
  </tr>
  <tr>
    <td>  </td>
  </tr>
</tbody></table>
