        <table width="588" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="93"><a href="http://studentochka.ru"><img src="http://s.studentochka.ru/img/studentochka.gif" alt="Студенточка.ru: на главную страницу.  рефераты, курсовые, дипломы на заказ без предоплаты в кратчайшие сроки  скидки и гарантии" width="588" height="93" border="0"></a></td>
          </tr>
          <tr>
          <td height="25"><img src="http://s.studentochka.ru/img/nazakaz.jpg" alt="Рефераты, курсовые, дипломные работы на заказ. Антиплагиат. Скидки" width="588" height="25"></td>
          </tr>
          <tr>
          <td height="87" valign="top"><table width="100%" height="87" border="0" cellpadding="0" cellspacing="0" background="http://s.studentochka.ru/img/fonmenu.jpg">
              <tr align="left"> 
              <td valign="middle"><img src="http://s.studentochka.ru/img/null.gif" width="7" height="2"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="http://studentochka.ru/price.html" class="menu">Прайс-лист</a></td>
              <td valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="http://gotovo.studentochka.ru" class="menu">Готовые 
                работы</a></td>
                <td valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="http://tema.studentochka.ru" class="menu">Бесплатные материалы </a></td>
              </tr>
              <tr align="left"> 
              <td width="172" valign="middle"><img src="http://s.studentochka.ru/img/null.gif" width="7" height="2"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="http://studentochka.ru/zakaz.html" class="menu"><font color="#990000">ЗАКАЗАТЬ</font></a></td>
              <td width="199" valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="http://studentochka.ru/spec" class="menu">Специальности</a></td>
              <td width="217" valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="http://catalog.studentochka.ru/" class="menu">Банк рефератов</a></td>
              </tr>
              <tr align="left"> 
              <td valign="middle"><img src="http://s.studentochka.ru/img/null.gif" width="7" height="2"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="http://consultation.studentochka.ru" class="menu">Консультации</a></td>
              <td valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="http://studentochka.ru/editor.html" class="menu">Статьи</a></td>
              <td valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="http://litra.studentochka.ru/" class="menu">Подбор литературы </a></td>
              </tr>
            </table>
</td>
          </tr>
      </table>
