        <table width="588" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="93"><a href="/"><img src="http://s.studentochka.ru/img/studentochka.gif" alt="" width="588" height="93" border="0"></a></td>
          </tr>
          <tr>
          <td height="25"><img src="/img/nazakaz.jpg" alt="" width="588" height="25"></td>
          </tr>
          <tr>
          <td height="87" valign="top"><table width="100%" height="87" border="0" cellpadding="0" cellspacing="0" background="http://s.studentochka.ru/img/fonmenu.jpg">
              <tr align="left"> 
              <td valign="middle"><img src="http://s.studentochka.ru/img/null.gif" width="7" height="2"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="/price.html" class="menu">Прайс-лист</a></td>
              <td valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="/authors.html" class="menu">Авторы</a></td>
                <td valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="/clients.html" class="menu">Наши клиенты</a></td>
              </tr>
              <tr align="left"> 
              <td width="172" valign="middle"><img src="http://s.studentochka.ru/img/null.gif" width="7" height="2"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="/zakaz.html" class="menu"><font color="#990000">ЗАКАЗАТЬ</font></a></td>
              <td width="199" valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="/portfolio.html" class="menu">Портфолио</a></td>
              <td width="217" valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="/uslugi.html" class="menu">Услуги</a></td>
              </tr>
              <tr align="left"> 
              <td valign="middle"><img src="http://s.studentochka.ru/img/null.gif" width="7" height="2"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="/partnership.html" class="menu">Сотрудничество</a></td>
              <td valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="/vacancy.html" class="menu">Вакансии</a></td>
              <td valign="middle"><img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7"><a href="/garantii.html" class="menu">Гарантии</a></td>

              </tr>
            </table>
</td>
          </tr>
      </table>
