<table width="221" cellpadding="0" cellspacing="1" bgcolor="#DFE8CE">
  <table width="100%" cellpadding="6" cellspacing="1" bgcolor="#CFD8BE">
    <tr> 
      <td align="center" valign="top" background="http://s.studentochka.ru/img/r_tab_2.gif" bgcolor="#FCEFD8">
      <strong class='red-colored'>Контакты</strong>
      </td>
    </tr>
    <tr> 
      <td valign="top" background="http://s.studentochka.ru/img/r_tab.gif" bgcolor="#F2F3EE"> 
        <table  class='small-price' width="100%" cellpadding='2' >
          <tr>
            <td valign="middle" colspan=2 >
              <span style='position: relative; top: -3px'>
                <img src="http://s.studentochka.ru/img/email.png" style="position: relative; top: 4px;" width="16" height="16">
                <a href="mailto:marina@seo-job.ru"><strong>marina@seo-job.ru</strong></a>
              </span>
            </td>
          </tr>
          <tr> 
            <td valign="middle" colspan=2 >
              <span style='position: relative; top: -3px'>
                <img src="http://s.studentochka.ru/img/phone.png" style="position: relative; top: 4px;" width="16" height="16">
                <strong>+7 926 206-99-13</strong> (с 9 до 21 ч.)
              </span>
            </td>
          </tr>
          <tr> 
            <td width="55%" valign="middle" >
              <span style='position: relative; top: -3px'>
                <img src="http://s.studentochka.ru/img/skypeicon.png" style="position: relative; top: 4px;" width="16" height="16">
                yagaya_baba
              </span>
            </td>
            <td width="45%" valign="middle" > 
              <span style='position: relative; top: -3px'>
                <img src="http://s.studentochka.ru/img/icq.png" style="position: relative; top: 4px;" width="16" height="16">
                  35774308
              </span>
            </td>
          </tr>
        </table>
        <center class='after-contacts-lnks'>
          <a href="/zakaz.html" class="lnk red-colored">
            <b>ЗАКАЗАТЬ</b>
          </a>
        </center>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" background="http://s.studentochka.ru/img/r_tab_2.gif" bgcolor="#FCEFD8">
        <strong class='red-colored'>Цены, скидки и акции</strong>
      </td>
    </tr>

    <tr>
      <td valign="top" background="http://s.studentochka.ru/img/r_tab.gif" bgcolor="#FCEFD8">
        {% include right-price.html %}
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" background="http://s.studentochka.ru/img/r_tab_2.gif" bgcolor="#FCEFD8">
        <strong class="red-colored">Поделиться</strong>
      </td>
    </tr>
    <tr>
      <td valign="top" background="http://s.studentochka.ru/img/r_tab.gif" bgcolor="#FCEFD8">
        <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,moikrug,gplus"></div>
      </td>
    </tr>
  </table>
</table>
