<style>
  .nowrap{
    white-space: nowrap;
  }
  .taright{
    text-align: right;
  }
  table.small-price tr td{
    border-bottom: 1px dashed #ddd;
  }
</style>
<table class='small-price'>
  <tr>
    <td>
      <a class='lnk' href='http://studentochka.ru/zakaz_type?type=referatnazakaz'>Реферат</a>,
      <a class='lnk' href='http://studentochka.ru/zakaz_type?type=dokladzakaz'>доклад</a>,
      <a class='lnk' href='http://studentochka.ru/zakaz_type?type=essezakaz'>эссе</a>,
      <a class='lnk' href='http://studentochka.ru/zakaz_type?type=kontrrabzakaz'>контрольная</a>
    </td>
    <td class='nowrap taright'>
    <b class="стиль10">110</b> р./стр.
    </td>
  </tr>
  <tr>
    <td>
      <a class='lnk' href='http://studentochka.ru/zakaz_type?type=cursenazakaz'>Курсовая</a>
    </td>
    <td class='nowrap taright'>
    от <b class="red-colored">120</b> р./стр.
    </td>
  </tr>
  <tr>
    <td>
      <a class='lnk' href='http://opp.studentochka.ru'>
        Отчёт по практике
      </a>
    </td>
    <td class='nowrap taright'>
    <b class="red-colored">125</b> р./стр.
    </td>
  </tr>
  <tr>
    <td>
      <a class='lnk' href='http://studentochka.ru/zakaz_type?type=vkvalifrabzakaz'>ВКР</a>,
      <a class='lnk' href='http://studentochka.ru/zakaz_type?type=diplomnayanazakaz'>дипломная</a>
    </td>
    <td class='nowrap taright'>
    от <b class="red-colored">175</b> р./стр.
    </td>
  </tr>
</table>
<center><strong><a class='lnk' href="http://studentochka.ru/price.html">Скидки. Антиплагиат.</a></strong></center>
