<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right" bgcolor="#FFFFFF">
      <table width="559" height="41" cellpadding="0" cellspacing="0">
        <tr valign="top">
        <td width="41"><img src="http://s.studentochka.ru/img/verx.gif" width="41" height="41"></td>
          <td width='100%' background="http://s.studentochka.ru/img/fon_verx.gif">
            <div style='position: relative'>
              <a href='/' class='zag bas'>{{page.title}}</a>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
