---
layout: portfolio
title: О кеесхондах
---

{% include pdf.html href="/portfolio/keeshonds.pdf" name="Скачать" %}
<br><br>
{% include antiplagiat.html name='keeshonds' date='2.12.2013' %}
<br><br>
<p>
Мы рады приветствовать Вас на сайте нашего питомника собак
породы кеесхондов!
</p>

<p>
Если Вы оказались на нашей страничке, наверняка это
неслучайно. Мы постараемся не только рассказать об этой
удивительной породе собак, но и сделать так, чтобы Вы смогли
найти настоящего верного друга, который станет поистине
неотъемлемой частью Вашей семьи и подарит целое море
положительных эмоций детям и взрослым.
</p>

<p>
Кто же такие кеесхонды, или немецкие шпицы? Прежде всего, это
собака-компаньон, которая сочетает в себе качества чуткого
сторожа и идеальной «семейной» собаки. Неслучайно многие
психотерапевты используют немецких шпицев в программах
по работе с замкнутыми пациентами – дружелюбные,
коммуникабельные, ласковые и добродушные собаки легко
находят контакт с людьми и помогают снять напряжение, они
всегда чутко воспринимают настроение хозяина. У кеесхондов,
неспроста называемых «улыбающимися голландцами», совершенно
отсутствует проявление агрессии в поведении. Они не трусливы,
не капризны и не своенравны.
</p>

<p>
Конечно же, каждая собака уникальна и имеет свой неповторимый
характер и нрав. Но все же оставаться равнодушным при общении
с кеесхондом просто невозможно – это сообразительные,
смелые и бесконечно верные питомцы, заражающие своей
жизнерадостностью. Шпицы легко уживаются с другими домашними
животными, перенимают режим дня своих хозяев и прекрасно
поддаются дрессировке. Поэтому даже если Ваш питомец будет
проявлять излишнюю активность или самостоятельность на
прогулке, существуют достаточно простые приемы воспитания
любимца. Кеесхонды легко обучаются, они старательны и очень
послушны.
</p>

<p>
Стоит ли заводить кеесхонда, если в семье есть
ребенок? Безусловно – шпицы очень активны и любят длительные
прогулки и «купание» в густой траве и пушистом снегу,
развлечения на воде. Они являются замечательными психологами
для детей, помогающими наладить контакт с окружающим миром и
подарить целое море радости и незабываемых эмоций для ребенка.
</p>

<p>
Немецкие шпицы легко адаптируются к жизни в городской
квартире при условии регулярного выгула и умеренного
количества активных упражнений, игр и тренировок. Они не любят
оставаться одни, лучшее времяпровождения для них – вместе
со своими хозяевами. Кеесхонды великолепно реализуют свои
способности при занятиях аджилити, где они могут проявить свою
сообразительность, ловкость, прыгучесть и навыки, полученные
во время дрессировки
</p>

<p>
Кеесхондам от предков достался сильный сторожевой
инстинкт. Характерный звонкий лай и внушительный вид животного
способен отпугнуть злоумышленников. Но на деле, конечно, это
максимальная «угроза», исходящая от питомцев – как говорится,
«лает, но не кусает». Немецкий шпиц является одной из старейших
пород собак, пришедшей к нам из Германии и Голландии XVI века, и
наименее подвергнувшейся искусственному отбору на протяжении
веков.
</p>

<p>
Кеесхонды гармонично сложены, средним ростом до полуметра. Они
отличаются крепким здоровьем и выносливостью. При правильном
и грамотном уходе собаки практически не болеют. Забота о
вольфшпице не потребует от Вас особых усилий – его густая
роскошная шерсть серебристого оттенка за счет специфики
подшерстка не сильно осыпается даже в периоды линьки. Волос
практически не скатывается в колтуны, еженедельного
вычесывания будет достаточно для поддержания шерсти в
отличном состоянии (во время линьки – несколько раз в неделю,
что сокращает период линьки до четырех недель). Более частое же
расчесывание наоборот может привести к удалению подшерстка,
что чревато ухудшением внешнего вида шерсти. Поэтому вопреки
частому мнению о собаках с длинной шерстью, немецкий шпиц
доставляет своим хозяев в этом отношении гораздо меньше забот.
</p>

<p>
Окрас шерсти кеесхонда – волчий, со смесью серого и черного и
характерными «очками» вокруг темно-коричневых миндалевидных
глаз. На мордочке – характерная маска черного окраса. Кончик
хвоста и маленькие стоячие ушки также черного цвета.
</p>

<p>
Немецкий шпиц линяет два раза за год, весной и осенью. К лету
собака сбрасывает часть шерсти, что помогает ей легче перенести
жару. Но ни в коем случае нельзя дополнительно стричь животное,
чтобы не подвергать кожу излишнему воздействию солнца.
</p>

<p>
Конечно же, стоит помнить о том, что, как и любому живому
существу, кеесхонду хочется получать от хозяев ласку, тепло и
заботу. Энергичный и подвижный любитель игр на свежем воздухе
лучше всего подойдет семье с детьми или ведущей активный
образ жизни. В то же время, трудно подобрать более ласкового
компаньона для пожилого человека. Принимая в свою семью
пушистое чудо с лисьей мордочкой и веселым нравом, Вы навсегда
получите преданного друга, надежного спутника и бесконечно
преданного хранителя домашнего очага, для которого Вы станете
целым миром.
</p>

