<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>{{page.title}}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="http://s.studentochka.ru/css/site.css" type=text/css rel=stylesheet>
  <link rel="icon" type="image/png" href="http://s.studentochka.ru/img/favicon.png">
</head>
<body bgcolor="#FFFFFF" leftMargin=0 topMargin=0 marginwidth="0" marginheight="0">
  <center>
    <table width="780" height="20" border="0" cellpadding="0" cellspacing="0">
      <tr><td><a name="verx"></a></td></tr>
    </table>

    {% include watcher.html %}
<link rel="stylesheet" href="http://studentochka.ru/public/css/default.css" />
<script src="http://s.studentochka.ru/js/script.js"></script>
<style type="text/css">
<!--
.стиль2 {color: #990000}
-->
</style>
<table width="780" height="205" border="0" cellpadding="0" cellspacing="0">
  <tr align="left" valign="top">
    <td width="107">
      <a href="/"><img src="http://s.studentochka.ru/img/referat.jpg" alt="" width="107"  border="0" height="205"></a>
    </td>
    <td>
      {% include menu.html %}
    </td>
    <td width="85">
      <a href="/"><img src="http://s.studentochka.ru/img/diplom.jpg" alt="" width="85"  border="0" height="205"></a>
    </td>
  </tr>
</table>
  <table width="780" height="48" border="0" cellpadding="0" cellspacing="0">
    <tr align="left" valign="top">
      <td width="107"><img src="http://s.studentochka.ru/img/foots.jpg" width="107" height="48"></td>
      <td width="452"></td>
      <td valign="middle" background="http://s.studentochka.ru/img/searchfon.gif"><br><br></td>
    </tr>
  </table>
  <br>
  <table width="780" cellspacing="0" cellpadding="0">
    <tr>
      <td width="559" valign="top" background="http://s.studentochka.ru/img/t_fon.gif">
        {% include zag.html %}
        <table width="559" cellpadding="15" cellspacing="0">
         <tr>
          <td valign="top">
            {{content}}
            {% include marina.html %}
          </td>
          </tr>
        </table>
      </td>
      <td width="221" align="center" valign="top" background="http://s.studentochka.ru/img/fon_right.gif">
            
          <noindex>
          {% include right.html %}
          </noindex>
        </td>
      </tr>
    </table>

    <div align="center">
    <a href="#verx"><img src="http://s.studentochka.ru/img/niz.gif" width="780" height="28" border="0"></a><br>
      <br>
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="4"><img src="http://s.studentochka.ru/img/verx.gif" width="41" height="41" /><img src="http://s.studentochka.ru/img/fon_verx.gif" width="619" height="41" /><img src="http://s.studentochka.ru/img/fon_verx.gif" width="56" height="41" /><img src="http://s.studentochka.ru/img/verx2.gif" width="41" height="41" /></td>
  </tr>
  <tr>
    <td width="11" background="http://s.studentochka.ru/img/tfon.gif"></td>
    <td width="561">
      <div align="center"></div>      
      <div align="center"> </div>
    </td>
    <noindex>
    <td width="171" background="http://s.studentochka.ru/img/fon_right_s.gif"><div align="center">


     
    <br />
    <td width="37" background="http://s.studentochka.ru/img/tfon2_s2.gif">&nbsp;</td>
  </tr>
  
  <tr>
    <td colspan="4"><a href="/#verx"><img src="http://s.studentochka.ru/img/niz.gif" width="780" height="28" border="0" /></a></td>
  </tr>
</table>   
<br />


        <a href="/" class="menu">Главная</a>
        <img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7" />
        <a href="/price.html" class="menu">Прайс</a>
        <img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7" />
        <a href="/garantii.html" class="menu">Гарантии</a>
        <img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7" />
        <a href="/authors.html" class="menu">Авторы</a>
        <img src="http://s.studentochka.ru/img/point.gif" width="6" height="5" hspace="7" />
        <a href="/zakaz.html" class="menu"><font color="#990000">ЗАКАЗАТЬ</font></a>
      <br>
      <br> 
    </div>
  </center>
  <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
  </body>
</html>
